<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title> SurePark Reservation Service </title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans" / > <!-- google web font service -->
    <link rel="stylesheet" href="/css/style.css" /> <!-- default style -->
    <link rel="stylesheet" href="/css/nice-select.css" /> <!-- nice-selector -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/jquery-ui-1.11.4.custom/jquery-ui.min.css" />
    <link rel="stylesheet" href="/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <section id="loginAsAdmin">
        <article>
            <input type="button" id="usernameBtn" value="Login" class="btn btn-default"/>
        </article>
        <article id="loginInput">
            <h2>Login</h2>
            <form>
                <p><input type="text" id="login_id" placeholder="ID" style="width: 200px; padding:5px" /></p>
                <p><input type="password" id="login_passwd" placeholder="Password" style="width: 200px;padding:5px" /></p>
                <p><input type="button" value="Login" id="loginBtn" class="btn" style="width: 200px; background-color: #000;" /></p>
                <p id="login_errorMsg"></p>
            </form>
        </article>
    </section>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SurePark Reservation Service</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a id="make_reservation"    class="driver attendant owner"  href="#">Make reservation</a></li>
                <li><a id="confirm_reservation" class="attendant owner" href="#">Confirm reservation</a></li>
                <li><a id="add_new_garage"      class="owner"   href="#">Add new garage</a></li>
                <li><a id="show_statistics"     class="owner"   showSection="#showStatistics" >Show statistics</a></li>
            </ul>
        </div>
    </nav>

    <div id="content ">  
        <div id="newReservation" class="inputForm" >
            <div class="well well-sm"> Reserve a parking sapce</div>
            <br>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="reserve_garage">Garage Name</label>

                    <div class="col-xs-4">
                        <select id="reserve_garage">
                            <option data-display="Select">Select</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="reserve_date">Date</label>
                    <div class="col-xs-4">
                        <!--input type="text" class="form-control col-xs-4" id="reserve_date" 
                            placeholder="Enter Date" required-->
                        <!--input type="text" id="reserve_date" data-format="YYYY-MM-DDTHH:mm" data-template="DD / MM / YYYY     hh : mm a" name="datetime" value="2016-06-24 8:30"-->
                        <input type="text" id="reserve_date" data-format="YYYY-MM-DDTHH:mm" data-template="YYYY / MM / DD     HH : mm" name="datetime" value="2016-06-24T08:30">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="card1">Card Info.</label>
                    <div class="col-xs-1">
                        <input class="form-control" id="card1" type="text" maxlength="4" min="1000" required>
                    </div>
                    <div class="col-xs-1">
                        <input class="form-control" id="card2" type="text" maxlength="4" min="1000" required>
                    </div>
                    <div class="col-xs-1">
                        <input class="form-control" id="card3" type="text" maxlength="4" min="1000" required>
                    </div>
                    <div class="col-xs-1">
                        <input class="form-control" id="card4" type="password" maxlength="4" min="1000" required>
                    </div>
                </div>

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="makeReserveDoneBtn" type="submit" class="btn btn-default">Submit</button>
                        <button id="makeReserveCancelBtn" type="submit" class="btn btn-default">Cancel</button>
                    </div>
                </div>
          </form>
        </div>

        <div id="confirmReservation" class="inputForm" >
            <div class="well well-sm"> Check the reservation ID </div>
            <br>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="confirmReservation_garage">Garage Name</label>
                    
                    <div class="col-xs-4">
                        <select id="confirmReservation_garage">
                            <option data-display="Select">Select</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="confirmReservation_name"> User ID </label>
                    <div class="col-xs-4">          
                        <input type="text" class="form-control" id="confirmReservation_name" 
                            placeholder="Enter user ID" required>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-2" for="confirmReservation_info"> Reservation Info </label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="confirmReservation_info" 
                            placeholder="Enter reservation ID" required>
                    </div>
                </div>               

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="confirmReserveDoneBtn" type="submit" class="btn btn-default">Confirm</button>
                        <button id="confirmReserveCancelBtn" type="submit" class="btn btn-default">Cancel</button>
                    </div>
                </div>
          </form>
        </div>
        <div id="addNewGarage" class="inputForm" >
            <div class="well well-sm"> Add new garage</div>
            <br>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="add_garage_name">Garage name </label>
                    <div class="col-xs-4">          
                        <input type="text" class="form-control" id="add_garage_name" 
                            placeholder="Enter new garage name" required>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-2" for="add_number_of_slot"> Number of slots </label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" id="add_number_of_slot" 
                            placeholder="Enter slot numbers" required>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-2" for="add_grace_period"> Grace period(min) </label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" id="add_grace_period" 
                            placeholder="Enter default grace period" required>
                    </div>
                </div>

                <div class="form-group" >
                    <label class="control-label col-sm-2" for="add_parking_fee"> Parking fee(hour) </label>
                    <div class="col-xs-2">
                        <input type="number" class="form-control" id="add_parking_fee" 
                            placeholder="Enter default parking fee per hour" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" >Garage IP</label>
                    <div class="col-xs-2">
                        <input class="form-control" id="ip1" type="number" maxlength="3" max="255" required>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" id="ip2" type="number" maxlength="3" max="255" required>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" id="ip3" type="number" maxlength="3" max="255" required>
                    </div>
                    <div class="col-xs-2">
                        <input class="form-control" id="ip4" type="number" maxlength="3" max="255" required>
                    </div>
                </div>

                <div class="form-group">        
                    <div class="col-sm-offset-2 col-sm-10">
                        <button id="addGarageDoneBtn" type="submit" class="btn btn-default">Submit</button>
                        <button id="addGarageCancelBtn" type="submit" class="btn btn-default">Cancel</button>
                    </div>
                </div>
          </form>
        </div>

        <div id="showStatistics">
            <div class="well well-sm"> Statistics </div>
            <div class="row">
                <div class="panel-group col-sm-6">
                    <div class="panel panel-default">
                        <!--div class="panel-heading"> Will be displayed the average occupancy </div-->
                        <div id="average_occupancy" class="panel-body" style="height: 400px;">average occupancy</div>
                    </div>                    
                </div>
                <div class="panel-group col-sm-6" style="background-color:lightgreen;">
                    <div class="panel panel-default">
                        <!--div class="panel-heading">Will be display peak usage hour</div-->
                        <div id="peak_usage_hours" class="panel-body" style="height: 400px;">Peak usage hour</div>
                    </div>      
                </div>
                <div class="panel-group col-sm-6">
                    <div class="panel panel-default">
                        <!--div class="panel-heading"> Will be displayed parking hour </div-->
                        <div id="parking_hours" class="panel-body" style="height: 400px;">Parking hour</div>
                    </div>                    
                </div>
                <div class="panel-group col-sm-6" style="background-color:lavenderblush;">
                    <!--div class="panel panel-default">
                        <div class="panel-heading"> Will be displayed heavy users </div-->
                        <div id="heavy_users" class="panel-body" style="height: 400px; background-color:white;">  Heavy users</div>
                    </div>      
                </div>
            </div>
        </div>

        <section id="showReservation">            
        </section>


        <div id="showGarageStatus">
        </div>

        <div id="outer_page_gallery">
            <div id="page_gallery">
            </div>
        </div>

        
    </div>


    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <p id="modal_content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    


    

    <div id='footer'>
    </div>
    
    <script>
         var userName = "<%= userName %>";
         var userType = "<%= userType %>";
    </script>
    <script src="/jquery/jquery-2.1.3.min.js"></script>
    <script src="/jquery/combodate.js"></script>
    <script src="/jquery/moment.js"></script>
    <script src="/jquery/loader.js"></script>
    <script src="/jquery/jquery.nice-select.js"></script>
    <script src="/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
    <script src="/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/js/session_infomation.js"></script>
    <script src="/js/main_page.js"></script>  
    <!--script src="/js/show_statistics.js"></script--> 
</body>
</html>
